body {
	font-family: sans-serif;
}

#question-wrapper {
	width: 600px;
	min-height: 300px;
	margin: auto;
	text-align: center;
	background-color: #cdcbd6;
	border-radius: 15px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	padding: 15% 10% 0;
}
 h2 {
	padding: 5% 10% 10%;
 	font-size: 20px;
 	font-weight: bold;
 }

#ask {
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 20px 0 0;
}

button {
	border: none;
	border-radius: 5px;
	background-color: #cd336a;
	padding: 30px;
	font-size: 30px;
	color: #fff;
}

button:hover {
	cursor: pointer;
}

#question-button {
	margin-right: 5px;
}

#answer {
	margin-left: 5px;
	background-color: green;
}